body {
    background-color: black;
    color: orange;
    font-family: 'fredbear_2020_ligregular';
}

.headerimg {
    text-align: center;
}

.headertxt {
    text-align: center;
    font-size: 40px;
}

.buttonlist {
    text-align: center;
    font-size: 30px;
}

.navheader {
    text-align: center;
    font-size: 32px;
}

#melody {
    text-align: center;
}

#housecaption {
    text-align: center;
    font-size: 35px;
}

a {
    color: orange;
}

a:visited {
    color: maroon;
}

a:hover {
    color: red;
}

#aboutme, #streaming {
    text-align: center;
    font-size: larger;
}

@font-face {
    font-family: 'fredbear_2020_ligregular';
    src: url('../webfonts/fb2020lig-webfont.woff2') format('woff2'),
         url('../webfonts/fb2020lig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
